// mixins //
.header(@size:1.2em){
    font-family: Arial, Helvetica;
    font-size: @size;
}
.td_common(@type:solid, @thikness:1px, @color:#ccc, @vpadding:2px, @hpadding:4px){
    border: @type @thikness @color;
    padding: @vpadding @hpadding;
}
.td_gradient(@color-top:#FEFEFE,@color-bottom:#CCC){
    background-image: -moz-linear-gradient(@color-top, @color-bottom);
    background-image: -o-linear-gradient(@color-top, @color-bottom);
    background-image: -webkit-linear-gradient(@color-top, @color-bottom);
    background-image: linear-gradient(@color-top, @color-bottom);
}
.added_now{
    background-color: rgb(254, 254, 138);
}
.added_before{
    background-color: lightyellow;
}
// styles
html,body{
    height:100%;
    padding:0;
}
*{
    box-sizing:border-box;
}
#add_record{
    white-space: nowrap;
    width: 86px;
}
button{
    &.edit:before{
        content: "Edit";
    }
    &.save:before{
        content: "Save";
    }
    &.edit_ru:before{
        content: "Ред.";
    }
    &.save_ru:before{
        content: "Сохр.";
    }
}
caption{
    font-weight: bold;
    .header;
    margin: auto auto 4px 4px;
    text-align:left;
    input[type="search"]{
        float: right;
    }
    p{
        margin: 10px auto 3px;
        width:100%;
        span.fleft,
        span.fright{
            font-size: 0.6em;
            font-weight: normal;  
            .link{
                padding: 0 3px;
            }
        }
    }
}
caption, th{
    white-space:nowrap;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
#gr{
    color: blue;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.group{
    background-color: lavender;
    cursor: pointer;
    td{
        text-align: left !important;
    }
}
.link{
    color: blue;
    cursor: pointer;
}
.req{
    color: red;
}
#tblAddressBook{
    border-collapse: collapse;
    margin-bottom: 4px;
    tr{
        &:not(:last-child){
            &:hover{
                background:#EFEFEF !important;
            }
        }	
        &:last-child{
            display:none;
            td{                
                border-color: white;
            }
        }
        td{
            font-size: 0.95em;
            .td_common;
            &:last-child{
                text-align:center;
                div{
                    background-color: #333;
                    border-radius: 10px;
                    display: inline-block;
                    cursor: pointer;
                    height:19px;
                    width:19px;
                    &:hover{
                        background-color: #D33;
                    }
                    span{
                        color:white;
                        display: inline-block;
                        font-family: Arial;
                        font-size: 0.8em;
                        -webkit-transform: scale(1.4,1);
                        &:after{
                            content:"x";
                        }
                    }
                }
            }
            &:nth-child(5){
                text-align: center;
            }
        }
    }
}
th{
    font-weight: normal;
    .header(0.9em);
    line-height: 23px;
    .td_common;
    .td_gradient;
}