<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Address book</title>
        <meta charset="utf-8">
        <script src="libs/angular.min.js"></script>
        <script src="controller.js"></script>
        <link rel="stylesheet/less" type="text/css" href="css/css.less" />
		<script src="libs/less-1.7.0.min.js"></script>
        <script src="libs/jquery-2.1.0.min.js"></script> 
</head>
<body ng-controller="abController">
    <table border="0" id="tblAddressBook">
    	<caption>Address book
        	<input type="search" placeholder="search contact..." id="search contact" ng-model="searchContact">
        	<p><span class="req">*</span>The fields <strong>Name</strong> and <strong>Phone Number</strong> are mandatory.</p>
        </caption>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone Number</th>
        <th id="gr" title="Collapse/Expand groups">Group</th>
        <th>Edit/Save</th>
        <th>Remove</th>
      </tr>
      <tr ng-repeat="contact in contacts | filter:searchContact" class="{{contact.class}}">
        <td>{{ contact.name }}</td>
        <td>{{ contact.surname }}</td>
        <td>{{ contact.phone_number }}</td>
        <td>{{ contact.group }}</td>
        <td><button class="edit" ng-click="handleRow($event)"></button></td>
        <td><div ng-click="removeRecord($event)"><span></span></div></td>
      </tr>
      <tr>
        <td><input name="name" ng-model="name" type="text"></td>
        <td><input name="surname" ng-model="surname" type="text"></td>
        <td><input name="phone_number" ng-model="phone_number" type="text"></td>
        <td><input name="group" ng-model="group" type="text"></td>
        <td><button class="save add" ng-click="handleRow($event)"></button></td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <!-- click event is handled in js.js as a jQuery procedure 
         because it affects on the page's state visually only.
         No data manipulating. -->
    <button id="add_record"></button>
    <!-- it is placed here to be seen from the controller's scope-->
    <script src="js/js.js"></script>           
</body>
</html>