<!DOCTYPE html>
<html ng-app="">
    <head>
        <meta charset="utf-8">
        <title>Address book</title>
        <script src="libs/angular.min.js"></script>
        <script src="controller.js"></script>
        <link rel="stylesheet/less" type="text/css" href="css/css.less" />
		<script src="libs/less-1.7.0.min.js"></script>
        <script src="libs/jquery-2.1.0.min.js"></script> 
        <style>        
			button.edit:before{
			    content: "Edit";
			}
			button.save:before{
			    content: "Save";
			}
			button.edit_ru:before{
			    content: "Ред.";
			}
			button.save_ru:before{
			    content: "OK";
			}
        </style>
</head>
<body ng-controller="abController">
    <table border="0" id="tblAddressBook">
        <caption>
            <div class="fleft" ng-repeat="text in caption">{{text.caption}}</div>
            <input type="search" placeholder="{{text.search}}..." id="search contact" ng-model="searchContact">
            <p class="fleft" ng-repeat="text in caption">
            	<span class="fleft">
            		<span class="req">*</span>{{text.fields}} <strong>{{text.name}}</strong> {{text.and}} <strong>{{text.phone_number}}</strong> {{text.are_mandatory}}.
                </span>
            	<span class="fright">
            		<span class="link" ng-click="setLang('en')">en</span> | <span class="link" ng-click="setLang('ru')">рус</span>
                </span>
            </p>
        </caption>
      <tr ng-repeat="header in headers">
        <th>{{header.Name}}</th>
        <th>{{header.Surname}}</th>
        <th>{{header.Phone_Number}}</th>
        <th id="gr" title="{{header.grManage}}">{{header.Group}}</th>
        <th>{{header.Edit_Save}}</th>
        <th>{{header.Remove}}</th>
      </tr>
      <tr ng-repeat="contact in contacts | filter:searchContact" class="{{contact.class}}">
        <td>{{ contact.name }}</td>
        <td>{{ contact.surname }}</td>
        <td>{{ contact.phone_number }}</td>
        <td>{{ contact.group }}</td>
        <td ng-repeat="btn in btns"><button class="{{btn.edit}}" ng-click="handleRow($event)"></button></td>
        <td><div ng-click="removeRecord($event)"><span></span></div></td>
      </tr>
      <tr>
        <td><input name="name" ng-model="name" type="text"></td>
        <td><input name="surname" ng-model="surname" type="text"></td>
        <td><input name="phone_number" ng-model="phone_number" type="text"></td>
        <td><input name="group" ng-model="group" type="text"></td>
        <td ng-repeat="btn in btns"><button class="{{btn.save}} add" ng-click="handleRow($event)"></button></td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <!-- click event is handled in js.js as a jQuery procedure 
         because it affects on the page's state visually only.
         No data manipulating. -->
    <button id="add_record"></button>
    <!-- it is placed here to be seen from the controller's scope-->
    <script src="js/js.js"></script>           
</body>
</html>